{% extends "base.html" %}

{% block content %}


<table id="assets_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>type</th>
      <th>identifier</th>
      <th>updated_at</th>
    </tr>
  </thead>
    <tbody>
    {% for asset in assets %}
      <tr>
        <td><a href="{% url 'core:asset' asset.id %}">{{ asset.id }}</a></td>
        <td>{{ asset.asset_type }}</td>
        <td>{{ asset.identifier }}</td>
        <td>{{ asset.updated_at }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock content %}


{% block scripts %}

<script type="text/javascript" charset="utf8">

  $(document).ready( function () {
  var table = $('#assets_table').DataTable();
} );

</script>

{{ script | safe }}
    
{% endblock scripts %}