<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>data to machine</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- datatables.net -->
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"   rel="stylesheet" type="text/css">

    {% block css  %}
    {% endblock %}

  </head>

  <body>

  <nav class="navbar navbar-default navbar-static-top"> 
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:index' %}">data2m Home</a>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'core:index' %}">Index</a></li>
          <li><a href="{% url 'core:assets' %}">Assets</a></li>
          <li><a href="{% url 'core:machines' %}">Machines</a></li>
          <li><a href="{% url 'core:projects' %}">Projects</a></li>
          <li><a href="{% url 'viewflow:index' %}">Workflow</a></li>
        </ul>
    </div>
  </nav>

  <div class="container">
    <!--<div class="page-header"> 
      {% block header %} {% endblock header %} 
    </div>-->
    <div> 
      {% block content %} {% endblock content %} 
    </div>
  </div>

  </body>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>

    <!-- datatables.net -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

{% block scripts %}
  <!--- some scripts that apply to all pages -->
{% endblock %}
</html>

